:root {
    --colorPrimario: #337ab7;
    --colorSecundario: rgb(110, 255, 0);
    --colorOscuro: #222;
    --colorClaro: #fff;
    --colorGris: #999;
    --alto: 50px;
    --ancho: calc(var(--alto) - 6px);
    --tiempo: 4s;
}


.container {
    max-width: 1080px;
}

html {
    scroll-behavior: smooth;
}


/*Codigo de modal q sale arriba del carrusel*/

.vistaTxt {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 122, 183, 0.6);
    position: absolute;
    z-index: 2;
    top: 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
    color: var(--colorClaro);
    text-align: center;
}

.vistaTxt h3 {
    margin: 23px auto;
}

.vistaTxt p {
    width: 60%;
    margin: 10px auto;
}

.vistaTxt img {
    width: 21px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}


/*Aqui inicia el codigo de el header*/

header {
    height: 60px;
    background: linear-gradient(to right, var(--colorOscuro), var(--colorPrimario));
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
}

header .menu {
    display: none;
}

header nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ol {
    display: flex;
    padding-left: 13px;
    margin: 0;
}

header nav ol a {
    margin-left: 20px;
    color: var(--colorClaro);
    font-size: 14px;
}

header nav ol a:hover {
    text-decoration: none;
    color: var(--colorOscuro);
}

header nav ol a:nth-child(1) {
    margin-left: 0;
}

header nav ol a:last-child {
    margin-right: 20px;
}


/*Aqui inicia el codigo de el logo*/


/*Aqui inicia el codigo de la barra*/

body::-webkit-scrollbar {
    width: 8px;
    background-color: #f0f2f5;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, var(--colorPrimario), var(--colorGris));
    border-radius: 10px;
    width: 8px;
    height: 8px;
    box-shadow: 0px 0px 6px 0px var(--colorPrimario);
}


/*Aqui inicia el codigo de el carusel*/

.carousel .beneficios {
    background-color: rgba(51, 122, 183, 0.6);
    color: #fff;
    padding: 0.1px;
}

.carousel .beneficios__circle {
    height: 100px;
    width: 100px;
    background-color: var(--colorOscuro);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.carousel .beneficios__circle img {
    width: 65px;
    height: 65px;
}

.carousel .beneficios__txt {
    width: 85%;
    margin: 30px auto;
}

.carousel .beneficios__txt h3 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 17px;
}

.carousel .beneficios__txt p {
    line-height: 1.4;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
}

.carousel .beneficios__txt a {
    font-size: 15px;
    display: flex;
    margin: 50px auto;
    color: #fff !important;
    border-color: #fff;
}

.carousel .beneficios__txt a:hover {
    border-color: #007bff;
}


/*Aqui inicia el codigo de los beneficios*/

.beneficios--Contenedor {
    height: auto;
    background-image: url("../images/fondoBeneficos.png");
}

.beneficios--Contenedor--info {
    background: -webkit-linear-gradient(top, var(--colorPrimario) 40%, transparent 100%) 70%;
    padding-top: 20px;
}

.beneficios--Contenedor--info:nth-child(4) {
    margin-bottom: 0;
}

.beneficios--Contenedor hr {
    opacity: 0.5;
    width: 80%;
    display: flex;
    margin: auto;
}

.beneficios--Contenedor h3 {
    color: #fff;
    text-align: center;
}

.beneficios--Contenedor .beneficios {
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 30px;
}

.beneficios--Contenedor .beneficios__circle {
    width: 100px;
    height: 100px;
    background: var(--colorOscuro);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

.beneficios--Contenedor .beneficios__circle img {
    width: 60%;
}

.beneficios--Contenedor .beneficios__txt {
    width: 40%;
}

.beneficios--Contenedor .beneficios__txt h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.beneficios--Contenedor .beneficios__txt p {
    line-height: 1.4;
    font-size: 13px;
}

.beneficios--Contenedor .beneficios__txt a {
    border-color: #fff;
    color: #fff;
    margin: 20px auto;
    display: flex;
}

.beneficios--Contenedor .beneficios__txt a:hover {
    border-color: #007bff;
    background: linear-gradient(89deg, var(--colorPrimario), var(--colorOscuro));
}

.beneficios--Contenedor .beneficios__txt a:focus {
    box-shadow: none;
    border-color: transparent;
    background: linear-gradient(89deg, var(--colorPrimario), var(--colorOscuro));
}

.beneficios--Contenedor .beneficios__txt a:active {
    border-color: transparent;
    background: linear-gradient(89deg, var(--colorPrimario), var(--colorOscuro));
}


/*Aqui inicia el codigo de el footer*/

.infoPlannerApp__cajas--descripcion {
    height: 530px;
    background-image: url("../images/Logo_azul.png");
    background-size: 60% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.infoPlannerApp__cajas--descripcion:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--colorPrimario);
    top: 0;
    left: 0;
}

.infoPlannerApp__cajas--descripcion p {
    width: 80%;
    margin: auto;
    font-size: 19px;
    text-align: center;
    font-weight: 450;
}

.infoPlannerApp__cajas--masDescripcion {
    height: 530px;
    background-image: url("../images/Logo_Blanco.png");
    background-size: 60% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPlannerApp__cajas--masDescripcion li {
    list-style: none;
    font-weight: 700;
    font-size: 12px;
}

.infoPlannerApp__cajas--masDescripcion:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: #fff;
    top: 0;
    left: 0;
}

.infoPlannerApp__cajas--footer {
    height: 530px;
    background-image: url("../images/Logo_azul.png");
    background-size: 60% 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.infoPlannerApp__cajas--footer:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: var(--colorPrimario);
    top: 0;
    left: 0;
}

.infoPlannerApp__cajas {
    margin: auto;
}

.infoPlannerApp__cajas--footer {
    display: flex;
    justify-content: center;
}

.informacion__contenido {
    margin: auto;
    display: flex;
    width: 243px;
    margin: 20px;
}

.informacion__contenido:nth-child(1) {
    margin-top: 0;
}

.informacion__contenido--img {
    margin-right: 30px;
}

.informacion__contenido--img img {
    width: 50px;
    height: 50px;
}

.informacion__contenido--text a {
    color: #000;
    cursor: pointer;
    font-size: 12px;
}

.informacion__contenido--text a:hover {
    text-decoration: underline;
}

.informacion__contenido--text h6 {
    font-size: 13px;
}

.imgDescription {
    margin-right: 10px;
    width: 16px;
}

/*Aqui inicia el codigo de el el media de 1190px*/

@media screen and (max-width: 1190px) {
    .carusel-item .beneficios__txt {
        width: 83%;
    }
}


/*Aqui inicia el codigo de el el media de 992px*/

@media screen and (max-width: 991px) {
    .lento {
        width: 200px !important;
    }

    main {
        height: auto !important;
    }

    .carousel .beneficios__txt p {
        text-align: left;
        font-size: 13px;
        width: 83%;
        margin: 13px auto;
    }

    .carousel .beneficios__txt h3 {
        font-size: 16px;
    }

    .beneficios--Contenedor--info h3 {
        font-size: 20px;
    }

    .beneficios--Contenedor--info .beneficios__circle {
        width: 110px;
        height: 110px;
    }

    .beneficios--Contenedor--info .beneficios__txt {
        width: 50%;
    }

    .beneficios--Contenedor--info .beneficios__txt h3 {
        font-size: 17px;
    }

    .beneficios--Contenedor--info .beneficios__txt p {
        font-size: 14px;
    }

    .beneficios--Contenedor--info .beneficios__txt button {
        font-size: 14px;
    }

    .infoPlannerApp__cajas--masDescripcion {
        background-size: 90% 100%;
    }

    .infoPlannerApp__cajas--masDescripcion:before {
        content: "";
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

    .infoPlannerApp__cajas--descripcion {
        background-size: 90% 100%;
    }

    .infoPlannerApp__cajas--descripcion p {
        font-size: 15px;
        font-weight: 450;
        text-align: justify;
    }

    .infoPlannerApp__cajas--descripcion:before {
        content: "";
        background-color: var(--colorPrimario);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }


    .infoPlannerApp__cajas--footer {
        background-size: 90% 100%;
    }

    .infoPlannerApp__cajas--footer:before {
        content: "";
        background-color: var(--colorPrimario);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
}


/*Aqui inicia el codigo de el el media de 768px*/

@media screen and (max-width: 768px) {
    .alto {
        height: 410px !important;
    }

    .lento {
        width: 100% !important;
        height: 180px;
        position: relative !important;
    }

    .carousel .beneficios {
        display: flex;
        justify-content: space-evenly;
        position: relative !important;
        align-items: center;
        padding: 20px 0px;
    }

    .carousel .beneficios:before {
        content: "";
        background-color: var(--colorOscuro);
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .carousel .beneficios__circle {
        margin: auto 10px;
        width: 85px;
        height: 85px;
    }

    .carousel .beneficios__circle img {
        height: 55px;
        width: 55px;
    }

    .carousel .beneficios__txt {
        width: 60%;
        margin: 0;
    }

    .carousel .beneficios__txt p {
        width: 60%;
    }

    .carousel .beneficios__txt a {
        display: block !important;
        margin: 10px auto;
    }

    .beneficios__circle {
        width: 85px;
        height: 85px;
        margin: auto 0;
    }

    .beneficios__circle img {
        height: 55px;
        width: 55px;
    }

    .beneficios__txt {
        height: 50%;
        width: 60%;
        margin-left: -50px;
    }

    .beneficios__txt h3 {
        margin-bottom: 5px;
    }

    .beneficios--Contenedor--info h3 {
        font-size: 17px;
    }

    .beneficios--Contenedor--info .beneficios__circle {
        width: 85px;
        height: 85px;
    }

    .beneficios--Contenedor--info .beneficios__circle img {
        width: 45px;
        height: 45px;
        margin: auto;
    }

    .beneficios--Contenedor--info .beneficios__txt h3 {
        font-size: 15px;
    }

    .beneficios--Contenedor--info .beneficios__txt p {
        font-size: small;
    }

    .beneficios:nth-child(2) .beneficios__circle img {
        width: 55px;
        height: 55px;
    }

    .infoPlannerApp__cajas--descripcion {
        background-size: 80% 80%;
        height: 50vh;
    }

    .infoPlannerApp__cajas--descripcion p {
        font-size: 13px;
        font-weight: bold;
    }

    .infoPlannerApp__cajas--descripcion:before {
        content: "";
        background-color: var(--colorPrimario);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .infoPlannerApp__cajas--masDescripcion {
        background-size: 80% 80%;
        background-color: #fff;
        height: 50vh;
    }

    .infoPlannerApp__cajas--masDescripcion:before {
        content: "";
        background-color: #fff;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    .infoPlannerApp__cajas--footer {
        background-size: 80% 80%;
        background-color: var(--colorPrimario);
        height: 50vh;
        padding: 0;
    }

    .infoPlannerApp__cajas--footer .infoPlannerApp__cajas {
        margin: auto;
    }

    .infoPlannerApp__cajas--footer:before {
        content: "";
        background-color: var(--colorPrimario);
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

    div .lento {
        height: 130px !important;
    }

    .fondoBeneficios_0 {
        background-image: url("../images/planificacionProyecto.png");
        background-position: center;
        background-size: 100%;
        position: relative;
        animation: fondoMenu 15s linear infinite alternate;
    }

    .fondoBeneficios_1 {
        background-image: url("../images/controlDeAcceso.png");
        background-position: center;
        background-size: 100%;
        position: relative;
        animation: fondoMenu 15s linear infinite alternate;
    }

    .fondoBeneficios_2 {
        background-image: url("../images/RRHH.png");
        background-position: center;
        background-size: 100%;
        position: relative;
        animation: fondoMenu 15s linear infinite alternate;
    }

    @keyframes fondoMenu {
        0% {
            background-size: 200%;
            background-position: center;
        }

        20% {
            background-position: right top;
        }

        40% {
            background-position: center;
            background-size: 100%;
        }

        60% {
            background-position: left top;
        }

        80% {
            background-position: left -100px;
        }

        100% {
            background-position: right -100px;
            background-size: 200%;
        }
    }
}


/*Aqui inicia el codigo de el el media de 575px*/

@media screen and (max-width: 575px) {
    header nav ol:nth-child(2) {
        display: none;
    }

    header nav ol:nth-child(3) {
        display: block !important;
    }

    header nav ol:nth-child(3) img {
        width: 30px;
        margin-right: 10px;
        cursor: pointer;
    }

    .carousel .beneficios__txt p {
        width: 100%;
    }

    .carousel .beneficios__txt a {
        font-size: 13px;
    }

    .txtAdd {
        display: none !important;
    }

    .txtAdd+a {
        display: block !important;
        font-size: 13px;
    }

    .ultimo .beneficios__txt {
        margin-left: 10px;
    }

    .infoPlannerApp__cajas--descripcion {
        background-size: 100%;
    }

    .infoPlannerApp__cajas--masDescripcion {
        background-size: 100%;
    }

    .infoPlannerApp__cajas--footer {
        background-size: 100%;
    }
}


/*Aqui inicia el codigo de el el media de 425px*/

.modalin {
    top: 0;
    display: none;
}

.modalin:before {
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-color: var(--colorOscuro);
    position: absolute;
}

.modalin .modalTxt {
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 10px;
    transform: translateX(-3000%);
}

.modalin .modalTxt a {
    background: #25d366 !important;
    color: #fff;
}

.modalin .modalTxt .btn {
    border: none;
}

.modalin .modalTxt .btn-primary:focus {
    box-shadow: none !important;
}

.modalin .modalTxt .btn:focus {
    box-shadow: none !important;
}

.modalin .modalTxt h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}

.modalin .modalTxt a {
    margin: 0 10px;
}

.modalIn {
    animation: modalIn 0.6s forwards;
}

.modalOut {
    animation: modalOut 0.6s forwards;
}

@keyframes modalOut {
    0% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-10%);
    }

    75% {
        transform: translateY(25%);
    }

    100% {
        transform: translateY(-3000%);
    }
}

@keyframes modalIn {
    0% {
        transform: translateY(-3000%);
    }

    60% {
        transform: translateY(25%);
    }

    75% {
        transform: translateY(-10%);
    }

    90% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(0);
    }
}

@media screen and (min-width: 575px) {
    .beneficios--Contenedor a {
        display: none !important;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}


/* Animaciones del logo */

#REGRESO1 {
    animation: REGRESO1 !important;
    animation-duration: var(--tiempo) !important;
    animation-fill-mode: forwards !important;
}

@keyframes REGRESO1 {
    0% {
        margin-left: 60%;
    }

    100% {
        margin-left: 0;
    }
}

#REGRESO2 {
    animation: REGRESO2 !important;
    animation-duration: var(--tiempo) !important;
    animation-fill-mode: forwards !important;
}

@keyframes REGRESO2 {
    0% {
        margin-left: 40%;
    }

    100% {
        margin-left: 0;
    }
}

#REGRESO3 {
    animation: REGRESO3 !important;
    animation-duration: var(--tiempo) !important;
    animation-fill-mode: forwards !important;
}

@keyframes REGRESO3 {
    0% {
        margin-left: 50%;
    }

    100% {
        margin-left: 0;
    }
}

#REGRESO5 {
    animation: REGRESO5 !important;
    animation-duration: var(--tiempo) !important;
    animation-fill-mode: forwards !important;
}

@keyframes REGRESO5 {
    0% {
        margin-left: 90%;
    }

    100% {
        margin-left: 0;
    }
}

.regreso1 {
    transform-origin: right;
    transform: scale(1.6, 1);
    transition: 4s;
}

.regreso2 {
    transform-origin: right;
    transform: scale(1.4, 1);
    transition: 4s;
}

.regreso3 {
    transform-origin: right;
    transform: scale(1.5, 1);
    transition: 4s;
    animation: regreso3 4s forwards !important;
}

@keyframes regreso3 {
    0% {
        margin-left: 331%;
    }

    100% {
        margin-left: 50%;
    }
}

.regreso5 {
    transform-origin: right;
    transform: scale(1.9, 1);
    transition: 4s;
    animation: regreso5 4s forwards !important;
}

@keyframes regreso5 {
    0% {
        margin-left: 431%;
    }

    100% {
        margin-left: 90%;
    }
}

#REGRESO-4-6 {
    animation: aparece var(--tiempo) forwards !important;
}

.logo {
    display: grid;
    grid-template-columns: repeat(8, calc(var(--ancho) / 8));
    grid-template-rows: repeat(9, calc(var(--alto) / 9.2));
    width: 93px;
    height: var(--alto);
    overflow: hidden;
}

.par:nth-child(1) {
    background: var(--colorPrimario);
    height: 100%;
    width: 100%;
    grid-column: 1/9;
    grid-row: 1;
}

.par:nth-child(2) {
    background: var(--colorPrimario);
    height: 100%;
    width: 100%;
    grid-column: 1/9;
    grid-row: 3;
}

.par:nth-child(3) {
    background: var(--colorPrimario);
    height: 100%;
    width: 100%;
    grid-column: 1/9;
    grid-row: 5;
}

.par:nth-child(4) {
    background: var(--colorPrimario);
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 7;
}

.par:nth-child(5) {
    background: var(--colorGris);
    height: 100%;
    width: 100%;
    grid-column: 5/9;
    grid-row: 7;
}

.par:nth-child(6) {
    background: var(--colorPrimario);
    height: 100%;
    width: 100%;
    grid-column: 1/4;
    grid-row: 9;
}

.par:nth-child(7) {
    background: var(--colorGris);
    height: 100%;
    width: 100%;
    grid-column: 5/9;
    grid-row: 9;
}

.animacion_1 {
    animation-name: animacion_1;
    animation-duration: var(--tiempo);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes animacion_1 {
    100% {
        margin-left: 60%;
    }
}

.animacion_2 {
    animation-name: animacion_2;
    animation-duration: var(--tiempo);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes animacion_2 {
    100% {
        margin-left: 40%;
    }
}

.animacion_5 {
    animation-name: animacion_5;
    animation-duration: var(--tiempo);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes animacion_5 {
    100% {
        margin-left: 431%;
    }
}

.animacion_3 {
    animation-name: animacion_3;
    animation-duration: var(--tiempo);
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes animacion_3 {
    100% {
        margin-left: 331%;
    }
}

.animacion-4-6 {
    animation: oculto 1s forwards 1s !important;
}

@keyframes aparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes oculto {
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 425px) {
    .imgDescription {
        width: 12px;
        margin-right: 6px;
    }
}

@media screen and (max-width: 380px) {

    .desaparece {
        display: none;
    }

    .aparecer {
        display: block !important;
    }

    .carousel .beneficios__circle {
        display: none;
    }

    .carousel .beneficios__txt {
        width: 100%;
    }

    .carousel .beneficios__txt p {
        text-align: center;
        width: 98%;
        margin: auto;
    }

    .tituloBeneficio{
        font-size: 14px !important;
        margin-bottom: 5px !important;
        margin-top: 10px;
    }

    .tituloBeneficio + p {
        margin: 0;
    }

    .tituloBeneficio + p + div {
        margin-top: -8px;
    }
}

.aparecer {
    display: none;
}

@media screen and (max-width: 350px) {
    .medium {
        width: 140%;
        margin-left: -25%;
    }
}

.menu {
    height: calc(100vh - 60px);
    position: fixed;
    bottom: 0;
    background: linear-gradient(to right, rgba(110, 255, 0, .7), rgba(51, 122, 183, .7));
    border-top: 1px solid rgba(00,00,00,.2);
}

.menu a {
    display: flex;
}