.container 
    max-width 1080px    

html
      scroll-behavior: smooth

@import "component/_Funciones.styl"

/*Codigo de modal q sale arriba del carrusel*/
.vistaTxt 
    width: 100%
    height 100%
    background-color: colorBeneficio
    position: absolute
    z-index 2
    top: 0
    opacity 0
    animation: fadeIn 1s forwards
    color: white
    text-align: center

    h3 
        margin: 23px auto

    p 
        width 60%
        margin: 10px auto

    img
        width: 21px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor pointer


/*Aqui inicia el codigo de el header*/    
@import "component/_header.styl"
/*Aqui inicia el codigo de la barra*/    
@import "component/_barra.styl"
/*Aqui inicia el codigo de el carusel*/    
@import "component/_carusel.styl"
/*Aqui inicia el codigo de los beneficios*/    
@import "component/_beneficios.styl"
/*Aqui inicia el codigo de el footer*/    
@import "component/_footer.styl"
/*Aqui inicia el codigo de el el media de 1190px*/    
@import "component/@media/_media1190.styl"
/*Aqui inicia el codigo de el el media de 992px*/    
@import "component/@media/_media992.styl"
/*Aqui inicia el codigo de el el media de 768px*/    
@import "component/@media/_media768.styl"
/*Aqui inicia el codigo de el el media de 575px*/    
@import "component/@media/_media575.styl"
/*Aqui inicia el codigo de el el media de 425px*/    
@import "component/@media/_media425.styl"
@import "component/_modal.styl"

@keyframes fadeIn
    0% 
        opacity 0
    
    100% 
        opacity 100%
.beneficios--Contenedor
    @media screen and (min-width 575px)
        a
            display none!important


// .carousel-item 
    // display: flex