@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition:  .8s;
  }
}
@import "component/_Funciones.styl"
/*Aqui inicia el codigo de modificacion de container*/
.container 
    max-width 1080px    



/*Aqui inicia el codigo de el header*/    
@import "component/_header.styl"
/*Aqui inicia el codigo de la barra*/    
@import "component/_barra.styl"
/*Aqui inicia el codigo de el carusel*/    
@import "component/_carusel.styl"
/*Aqui inicia el codigo de los beneficios*/    
@import "component/_beneficios.styl"
/*Aqui inicia el codigo de el footer*/    
@import "component/_footer.styl"
/*Aqui inicia el codigo de el el media de 1190px*/    
@import "component/@media/_media1190.styl"
/*Aqui inicia el codigo de el el media de 992px*/    
@import "component/@media/_media992.styl"
/*Aqui inicia el codigo de el el media de 768px*/    
@import "component/@media/_media768.styl"
/*Aqui inicia el codigo de el el media de 575px*/    
@import "component/@media/_media575.styl"
/*Aqui inicia el codigo de el el media de 425px*/    
@import "component/@media/_media425.styl"
@import "component/_modal.styl"