.container
    .beneficios--Contenedor.position-relative
        .beneficios--Contenedor--info
            h3 Modulos Disponible
            +BeneficiosTodos("", "noEsCarusel", "", "../images/Proyectos_PlannerApp.svg", "Planificación de proyectos", "Aprovecha la colaboración de tu equipo para planificar y dar seguimiento a todas las tareas del proyecto.", "También puedes tener a disposición toda la documentación necesaria para la fluidez del proyecto.")
            +lineaMedia
            +BeneficiosTodos("", "noEsCarusel", "esimgleft", "../images/ControlAcceso_PlannerApp.svg", "Control de  Acceso", "Realiza los registros de ingreso del personal en proyectos o en oficinas.", "Los registros pueden ser usados para calculo de nomina y para llevar el control de consumo de tiempo del proyecto")
            +lineaMedia
            +BeneficiosTodos("", "noEsCarusel", "", "../images/RRHH_PlannerApp.svg", "Recursos Humanos", "Administra el personal y asígnalo a las áreas de trabajo (Proyectos u oficina).", "Crea una bitácora con sus acciones de personal para historial de la carrera desarrollada en la compañía.")
