.modalin.position-fixed.h-100.w-100.align-items-center.justify-content-center
    .modalTxt
        h3.h5.text-white Llamenos Mediante:
        a(href="https://api.whatsapp.com/send?phone=+50670412463" target="_blanck").btn.btn-primary(type='submit') whatsapp
        a(href="tel: +506 7041 2463").btn.btn-dark(type='submit') Llamada Telefonica