include _mixin.pug
doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title PlannerApp - PlannerApp
        link(rel="stylesheet" href="../css/Boostrapt.css")
        link(rel="stylesheet" href="../css/index.css")
        meta(name="theme-color" content="#222")
        link(rel="shortcut icon", href="../images/PlannerApp.png", type="image/x-icon" width="20")
    body
        include _header.pug
        include _CaruselGrande.pug
        include _mainBeneficios.pug
        include _footer.pug
        include _modal.pug
        block contenido
        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
        //- script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
        //- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")
        script(src="../js/boostrapt.js")
        script(src="../js/main.js")
