@media screen and (max-width 575px)
    header
        nav
            ol:nth-child(2)
                display none

            ol:nth-child(3)
                display: block !important
                img
                    width: 30px;
                    margin-right: 10px;
                    cursor pointer

    .carousel
        .beneficios
            &__txt
                p
                    width: 80%
                    
                button
                    font-size: 13px

    .txtAdd
        display none !important

        & + button
            display: block !important
            font-size: 13px


    .ultimo
        .beneficios
            &__txt
                margin-left: 10px

    .infoPlannerApp__cajas
        &--descripcion  
            background-size: 100%

        &--masDescripcion
            background-size: 100%

        &--footer
            background-size: 100%
