@media screen and (max-width 575px)
    .alto
        height 340px !important

    header
        nav
            ol:nth-child(2)
                display none

            ol:nth-child(3)
                display: block !important
                img
                    width: 30px;
                    margin-right: 10px;
                    cursor pointer
                    

    .infoPlannerApp__cajas
        &--descripcion  
            background-size: 100%

        &--masDescripcion
            background-size: 100%

        &--footer
            background-size: 100%
