@media screen and (max-width: 768px)
    .alto 
        height 410px !important
    
    .lento
        width: 100% !important
        height 180px
        position relative !important

    .carousel
        .beneficios
            display flex
            justify-content: space-evenly
            position relative !important
            // background-color transparent 
            align-items: center
            padding: 20px 0px

            &:before
                content: ""
                background-color: #222
                // opacity 0.6
                z-index: -1
                position absolute
                width: 100%
                height 100%

            &__circle
                margin: auto 10px
                width 85px
                height 85px
                // margin: auto 0

                    
                img 
                    height 55px
                    width: 55px

            &__txt
                width: 60%
                margin: 0

                p 
                    width: 60%

                a 
                    display: block !important
                    margin: 10px auto

    .beneficios
        &__circle
            width 85px
            height 85px
            margin: auto 0

            img 
                height 55px
                width: 55px

        &__txt
            height 50%
            width: 60%
            margin-left: -50px

            h3
                margin-bottom: 5px

            // a 
            //     display: none !important



    .beneficios--Contenedor--info
        h3
            font-size: fontSize-md-t
        

        .beneficios__circle
            width 85px
            height 85px

            img    
                width: 45px
                height 45px
                margin: auto

        .beneficios__txt
            h3
                font-size: fontsize-small-t

            p
                font-size: fontsize-small-c                

    .beneficios
        &:nth-child(2)
            .beneficios__circle
                img
                    width: 55px
                    height 55px
                    
    .infoPlannerApp
        &__cajas
            &--descripcion
                background-size: 80% 80%
                height 50vh

                p
                    font-size: 13px;
                    font-weight: bold;

                &:before
                    content: ""
                    background-color: colorPrimario
                    height 100%
                    width: 100%
                    position: absolute
                    left: 0
                    top: 0
                    z-index -1
            
            &--masDescripcion
                background-size: 80% 80%
                background-color: colorClaro
                height 50vh

                &:before
                    content: ""
                    background-color: colorClaro
                    height 100%
                    width: 100%
                    position: absolute
                    left: 0
                    top: 0
                    z-index -1

            &--footer
                background-size: 80% 80%
                background-color: colorPrimario
                height 50vh
                padding: 0

                .infoPlannerApp__cajas
                    margin: auto
                
                &:before
                    content: ""
                    background-color: colorPrimario
                    height 100%
                    width: 100%
                    position: absolute
                    left: 0
                    top: 0
                    z-index -1

    div .lento
        height 130px !important


    .animacion_0
        background-image: url("../images/planificacionProyecto.png")
        background-position: center
        background-size: 100%
        position relative
        animation: fondoMenu 15s linear infinite alternate;

    .animacion_1
        background-image: url("../images/controlDeAcceso.png")
        background-position: center
        background-size: 100%
        position relative
        animation: fondoMenu 15s linear infinite alternate;    
        
    .animacion_2
        background-image: url("../images/RRHH.png")
        background-position: center
        background-size: 100%
        position relative
        animation: fondoMenu 15s linear infinite alternate;    


    @keyframes fondoMenu 
        0%
            background-size: 200%;
            background-position: center;
        
        20% 
            background-position: right top;
        

        40% 
            background-position: center;
            background-size: 100%;
        
        60%
            background-position: left top;
        

        80% 
            background-position: left -100px;
        
        100% 
            background-position: right -100px;
            background-size: 200%;