
/* line 33 : D:\PlannerApp\prepros\stylus\index.styl */

/* line 1 : C:\Users\Ronald\AppData\Local\Prepros\app-7.2.27\resources\app.asar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\index.styl */
@media (prefers-reduced-motion: reduce) {

/* line 2 : D:\PlannerApp\prepros\stylus\index.styl */
  .carousel-item {
    transition: 0.8s;
  }
}

/* line 297 : C:\Users\Ronald\AppData\Local\Prepros\app-7.2.27\resources\app.asar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_Funciones.styl */

/* line 7 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de modificacion de container*/

/* line 8 : D:\PlannerApp\prepros\stylus\index.styl */
.container {
  max-width: 1080px;
}

/* line 13 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el header*/

/* line 28 : D:\PlannerApp\prepros\stylus\component\_Funciones.styl */

/* line 28 : D:\PlannerApp\prepros\stylus\component\_header.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header {
  height: 50px;
  background: linear-gradient(to right, #337ab7, #222);
  position: fixed;
  z-index: 5;
  width: 100%;
  top: 0;
}

/* line 9 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header .menu {
  display: none;
}

/* line 12 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 18 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header nav ol {
  display: flex;
  padding-left: 13px;
  margin: 0;
}

/* line 23 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header nav ol li {
  list-style: none;
  margin-left: 20px;
  color: #fff;
}

/* line 28 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header nav ol li:nth-child(1) {
  margin-left: 0;
}

/* line 31 : D:\PlannerApp\prepros\stylus\component\_header.styl */
header nav ol li:last-child {
  margin-right: 20px;
}

/* line 15 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de la barra*/

/* line 32 : D:\PlannerApp\prepros\stylus\component\_header.styl */

/* line 32 : D:\PlannerApp\prepros\stylus\component\_barra.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_barra.styl */

/* line 2 : D:\PlannerApp\prepros\stylus\component\_barra.styl */
body::-webkit-scrollbar {
  width: 8px;
  background-color: #f0f2f5;
}

/* line 7 : D:\PlannerApp\prepros\stylus\component\_barra.styl */
body::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #337ab7, #999);
  border-radius: 10px;
  width: 8px;
  height: 8px;
  box-shadow: 0px 0px 6px 0px #337ab7;
}

/* line 17 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el carusel*/

/* line 12 : D:\PlannerApp\prepros\stylus\component\_barra.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios {
  background-color: rgba(51,122,183,0.6);
  color: #fff;
  padding: 0.1px;
}

/* line 6 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__circle {
  height: 100px;
  width: 100px;
  background-color: #222;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

/* line 16 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__circle img {
  width: 65px;
  height: 65px;
}

/* line 20 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__txt {
  width: 85%;
  margin: 30px auto;
}

/* line 24 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__txt h3 {
  font-size: 19px;
  text-align: center;
}

/* line 28 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__txt p {
  line-height: 1.4;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

/* line 34 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__txt button {
  font-size: 15px;
  display: flex;
  margin: 50px auto;
  color: #fff !important;
  border-color: #fff;
}

/* line 41 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */
.carousel .beneficios__txt button:hover {
  border-color: #007bff;
}

/* line 19 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de los beneficios*/

/* line 42 : D:\PlannerApp\prepros\stylus\component\_carusel.styl */

/* line 2 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */

/* line 2 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor {
  height: auto;
  background-image: url("../images/fondoBeneficos.png");
}

/* line 6 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor--info {
  background: -webkit-linear-gradient(top, #337ab7 40%, transparent 100%) 70%;
  padding-top: 20px;
}

/* line 10 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor--info:nth-child(4) {
  margin-bottom: 0;
}

/* line 12 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor hr {
  opacity: 0.5;
  width: 80%;
  display: flex;
  margin: auto;
}

/* line 18 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor h3 {
  color: #fff;
  text-align: center;
}

/* line 23 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios {
  color: #fff;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 30px;
}

/* line 31 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__circle {
  width: 130px;
  height: 130px;
  background: #222;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

/* line 39 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__circle img {
  width: 65%;
}

/* line 42 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt {
  width: 40%;
}

/* line 45 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt h3 {
  font-size: 19px;
}

/* line 48 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt p {
  line-height: 1.4;
  font-size: 15px;
  font-weight: 400;
}

/* line 53 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt button {
  border-color: #fff;
  color: #fff;
  margin: 20px auto;
  display: flex;
}

/* line 59 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt button:hover {
  border-color: #007bff;
  background: linear-gradient(89deg, #337ab7, #222);
}

/* line 63 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt button:focus {
  box-shadow: none;
  border-color: transparent;
  background: linear-gradient(89deg, #337ab7, #222);
}

/* line 69 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */
.beneficios--Contenedor .beneficios__txt button:active {
  border-color: transparent;
  background: linear-gradient(89deg, #337ab7, #222);
}

/* line 21 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el footer*/

/* line 71 : D:\PlannerApp\prepros\stylus\component\_beneficios.styl */

/* line 3 : D:\PlannerApp\prepros\stylus\component\_footer.styl */

/* line 3 : D:\PlannerApp\prepros\stylus\component\_footer.styl */

/* line 6 : D:\PlannerApp\prepros\stylus\component\_footer.styl */

/* line 7 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas--descripcion {
  height: 530px;
  background-image: url("../images/Logo_azul.png");
  background-size: 60% 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

/* line 20 : D:\PlannerApp\prepros\stylus\component\_Funciones.styl */
.infoPlannerApp__cajas--descripcion:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #337ab7;
  top: 0;
  left: 0;
}

/* line 14 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas--descripcion p {
  width: 80%;
  margin: auto;
  font-size: 19px;
  text-align: justify;
  font-weight: 500;
}

/* line 21 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas--masDescripcion {
  height: 530px;
  background-image: url("../images/Logo_Blanco.png");
  background-size: 60% 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 27 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas--masDescripcion li {
  list-style: none;
  font-weight: 700;
}

/* line 20 : D:\PlannerApp\prepros\stylus\component\_Funciones.styl */
.infoPlannerApp__cajas--masDescripcion:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  top: 0;
  left: 0;
}

/* line 32 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas--footer {
  height: 530px;
  background-image: url("../images/Logo_azul.png");
  background-size: 60% 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* line 20 : D:\PlannerApp\prepros\stylus\component\_Funciones.styl */
.infoPlannerApp__cajas--footer:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background-color: #337ab7;
  top: 0;
  left: 0;
}

/* line 37 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas {
  margin: auto;
}

/* line 40 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.infoPlannerApp__cajas--footer {
  display: flex;
  justify-content: center;
}

/* line 47 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.informacion__contenido {
  margin: auto;
  display: flex;
  width: 243px;
  margin: 20px;
}

/* line 54 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.informacion__contenido:nth-child(1) {
  margin-top: 0;
}

/* line 58 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.informacion__contenido--img {
  margin-right: 30px;
}

/* line 60 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.informacion__contenido--img img {
  width: 50px;
  height: 50px;
}

/* line 64 : D:\PlannerApp\prepros\stylus\component\_footer.styl */

/* line 65 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.informacion__contenido--text a {
  color: #000;
  cursor: pointer;
}

/* line 69 : D:\PlannerApp\prepros\stylus\component\_footer.styl */
.informacion__contenido--text a:hover {
  text-decoration: underline;
}

/* line 23 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el el media de 1190px*/

/* line 72 : D:\PlannerApp\prepros\stylus\component\_footer.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\@media\_media1190.styl */
@media screen and (max-width: 1190px) {

/* line 2 : D:\PlannerApp\prepros\stylus\component\@media\_media1190.styl */
  .carusel-item .beneficios__txt {
    width: 83%;
  }
}

/* line 25 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el el media de 992px*/

/* line 7 : D:\PlannerApp\prepros\stylus\component\@media\_media1190.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
@media screen and (max-width: 991px) {

/* line 2 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .lento {
    width: 200px !important;
  }

/* line 9 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  main {
    height: auto !important;
  }

/* line 12 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */

/* line 13 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */

/* line 14 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .beneficios__txt p {
    text-align: left;
    font-size: 13px;
    width: 83%;
    margin: 13px auto;
  }

/* line 20 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .beneficios__txt h3 {
    font-size: 16px;
  }

/* line 68 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */

/* line 69 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--masDescripcion {
    background-size: 90% 100%;
  }

/* line 71 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--masDescripcion:before {
    content: "";
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

/* line 80 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--descripcion {
    background-size: 90% 100%;
  }

/* line 84 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--descripcion p {
    font-size: 15px;
    font-weight: bold;
  }

/* line 87 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--descripcion:before {
    content: "";
    background-color: #337ab7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

/* line 95 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--footer {
    background-size: 90% 100%;
  }

/* line 97 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */
  .infoPlannerApp__cajas--footer:before {
    content: "";
    background-color: #337ab7;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
}

/* line 27 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el el media de 768px*/

/* line 103 : D:\PlannerApp\prepros\stylus\component\@media\_media992.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
@media screen and (max-width: 768px) {

/* line 2 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .alto {
    height: 410px !important;
  }

/* line 7 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 8 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios__circle {
    width: 85px;
    height: 85px;
    margin: auto 0;
  }

/* line 13 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios__circle img {
    height: 55px;
    width: 55px;
  }

/* line 17 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios__txt {
    height: 50%;
    width: 60%;
    margin-left: -50px;
  }

/* line 22 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios__txt p {
    transition: display 2s;
    display: none;
    will-change: display;
  }

/* line 28 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 29 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios--Contenedor--info h3 {
    font-size: 17px;
  }

/* line 33 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios--Contenedor--info .beneficios__circle {
    width: 85px;
    height: 85px;
  }

/* line 37 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios--Contenedor--info .beneficios__circle img {
    width: 45px;
    height: 45px;
    margin: auto;
  }

/* line 42 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 43 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios--Contenedor--info .beneficios__txt h3 {
    font-size: 15px;
  }

/* line 46 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios--Contenedor--info .beneficios__txt p {
    font-size: medium;
  }

/* line 49 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 50 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 51 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 52 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .beneficios:nth-child(2) .beneficios__circle img {
    width: 55px;
    height: 55px;
  }

/* line 56 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 57 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 58 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--descripcion {
    background-size: 80% 80%;
    height: 50vh;
  }

/* line 62 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--descripcion p {
    font-size: 13px;
    font-weight: bold;
  }

/* line 66 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--descripcion:before {
    content: "";
    background-color: #337ab7;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

/* line 76 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--masDescripcion {
    background-size: 80% 80%;
    background-color: #fff;
    height: 50vh;
  }

/* line 81 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--masDescripcion:before {
    content: "";
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

/* line 91 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--footer {
    background-size: 80% 80%;
    background-color: #337ab7;
    height: 50vh;
    padding: 0;
  }

/* line 97 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--footer .infoPlannerApp__cajas {
    margin: auto;
  }

/* line 100 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  .infoPlannerApp__cajas--footer:before {
    content: "";
    background-color: #337ab7;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

/* line 110 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */
  div .lento {
    height: 130px !important;
  }
}

/* line 29 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el el media de 575px*/

/* line 111 : D:\PlannerApp\prepros\stylus\component\@media\_media768.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
@media screen and (max-width: 575px) {

/* line 2 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */

/* line 3 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */

/* line 4 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
  header nav ol:nth-child(2) {
    display: none;
  }

/* line 7 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
  header nav ol:nth-child(3) {
    display: block !important;
  }

/* line 9 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
  header nav ol:nth-child(3) img {
    width: 30px;
    margin-right: 10px;
    cursor: pointer;
  }

/* line 15 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */

/* line 16 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
  .infoPlannerApp__cajas--descripcion {
    background-size: 100%;
  }

/* line 19 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
  .infoPlannerApp__cajas--masDescripcion {
    background-size: 100%;
  }

/* line 22 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */
  .infoPlannerApp__cajas--footer {
    background-size: 100%;
  }
}

/* line 31 : D:\PlannerApp\prepros\stylus\index.styl */
/*Aqui inicia el codigo de el el media de 425px*/

/* line 1 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */

/* line 23 : D:\PlannerApp\prepros\stylus\component\@media\_media575.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 1 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalin {
  top: 0;
  display: none;
}

/* line 5 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalin:before {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.6;
  background-color: #222;
  position: absolute;
}

/* line 13 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalin .modalTxt {
  border: 1px solid #fff;
  padding: 30px;
  border-radius: 10px;
  transform: translateX(-3000%);
}

/* line 19 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalin .modalTxt h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}

/* line 24 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalin .modalTxt a {
  margin: 0 10px;
}

/* line 29 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalIn {
  animation: modalIn 0.6s forwards;
}

/* line 32 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
.modalOut {
  animation: modalOut 0.6s forwards;
}

/* line 35 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 35 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 35 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 35 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
@keyframes modalOut {

/* line 36 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  0% {
    transform: translateY(5%);
  }

/* line 40 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  60% {
    transform: translateY(-10%);
  }

/* line 43 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  75% {
    transform: translateY(25%);
  }

/* line 46 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  100% {
    transform: translateY(-3000%);
  }
}

/* line 52 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 52 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 52 : D:\PlannerApp\prepros\stylus\component\_modal.styl */

/* line 52 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
@keyframes modalIn {

/* line 53 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  0% {
    transform: translateY(-3000%);
  }

/* line 56 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  60% {
    transform: translateY(25%);
  }

/* line 59 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  75% {
    transform: translateY(-10%);
  }

/* line 62 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  90% {
    transform: translateY(5%);
  }

/* line 66 : D:\PlannerApp\prepros\stylus\component\_modal.styl */
  100% {
    transform: translateY(0);
  }
}
