doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Logo
        link(rel="stylesheet", href="index.css")
    body    
        .caja
            .par
            .par
            .par
            .par
            .par
            .par
            .par
            img(src="../images/PlannerApp.png", alt="alt")