
.beneficios--Contenedor
    height auto
    background-image url('../images/fondoBeneficos.png')

    &--info
        background: -webkit-linear-gradient(top, rgba(51,122,183,1) 40%, transparent 100%)70%
        padding-top: 20px

        &:nth-child(4)
            margin-bottom 0
    hr 
        opacity 0.5
        width: 80%
        display flex
        margin: auto

    h3 
        color: colorClaro
        text-align: center

    
    .beneficios
        color: colorClaro
        display: flex
        justify-content: space-around
        margin-top: 50px
        margin-bottom 30px
            

        &__circle
            width: 100px;
            height: 100px;
            background: colorOscuro;
            border-radius: 100%;
            display: flex;
            justify-content: center;

            img
                width: 60% 

        &__txt
            width: 40%

            h3
                font-size: 16px
                margin-bottom: 10px

            p
                line-height: 1.4
                font-size: 13px
                // font-weight: 500

            a  
                border-color: colorClaro
                color: white
                margin: 20px auto
                display flex

                &:hover
                    border-color: #007bff
                    background: linear-gradient(89deg, colorPrimario, colorOscuro)

                &:focus
                    box-shadow: none
                    border-color: transparent
                    background: linear-gradient(89deg, colorPrimario, colorOscuro)


                &:active
                    border-color: transparent
                    background: linear-gradient(89deg, colorPrimario, colorOscuro)
