.carousel .beneficios
        background-color: colorBeneficio
        color: colorClaro
        padding: 0.1px
        
        &__circle
            height 100px
            width: 100px
            background-color: colorOscuro
            border-radius: 100%
            display: flex
            justify-content: center
            align-items: center
            margin: 20px auto

            img 
                width: 65px
                height 65px

        &__txt
            width: 85%
            margin 30px auto

            h3
                font-size: 19px
                text-align: center
            
            p
                line-height: 1.4
                font-size: 14px
                font-weight: 400
                text-align: justify
                margin-top: 10px

            button 
                font-size: 15px
                display: flex
                margin: 50px auto
                color: colorClaro !important
                border-color: white

                &:hover
                    border-color: #007bff