.modalin
  top: 0
  display: none

  &:before
    content: ""
    height 100%
    width: 100%
    opacity .6
    background-color: #222
    position absolute

  .modalTxt
    border: 1px solid #fff;
    padding: 30px;
    border-radius: 10px;
    transform: translateX(-3000%)

    a
      background: #25d366 !important
      color: white


    .btn
      border: none

      &-primary:focus 
        box-shadow: none !important

      &:focus
        box-shadow: none !important
        

    h3 
      text-align: center;
      margin-bottom: 15px;
      font-size: 13px;
    
    a
      margin: 0 10px



.modalIn
    animation: modalIn .6s forwards

.modalOut
    animation: modalOut .6s forwards

@keyframes modalOut 
      0% 
        transform: translateY(5%);
      
    
      60% 
        transform: translateY(-10%);
      
      75% 
        transform: translateY(25%);
      
      100% 
        transform: translateY(-3000%);
      



@keyframes modalIn 
      0% 
        transform: translateY(-3000%);
      
      60% 
        transform: translateY(25%);
      
      75% 
        transform: translateY(-10%);
      
      90% 
        transform: translateY(5%);
      

      100% 
          transform: translateY(0)
